
@{

}

<h1>Add Cheese</h1>

<form method="post" action="/Cheese/Add">
    <h4>Cheese: </h4><input name="name" type="text" /><br /><br />
    <h5>Description: </h5><input name="description" type="text" /><br /><br />
    <input type="submit" value="Add Cheese" /><br /><br />
</form>