
@{
    ViewData["Title"] = "Remove";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DropDownDelete</h2>
<form method="post">
    <select name="cheeseName">
        @foreach (string cheeseName in ViewBag.cheeses.Keys)
        {
            <option value="@cheeseName">@cheeseName</option>
        }
    </select>
    <button type="submit">Delete Cheese</button>
</form>